*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color:#333;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.nav{
    background: #333;
    position: fixed;
    width: 100%;
    margin-top: -4vw;
    background: black;
    display: flex;
    color: white;
    justify-content: space-between;
}
.nav a{
    color: white;
    font-size: 1.7rem;
    font-weight: 500;
  
    margin-left: 3.5rem;
}
.nav-left{
    border: 2px solid #fff;
    border-right: 0;
   padding: 2vw 11vw 1.2vw 3vw;
   
}
.nav-left img{
    width: 118%;
}

.nav-middle{
    border: 2px solid #fff;
   padding: 2vw 11vw 2.2vw 10vw;
   width: 61%;   
}

.nav-right{
    border: 2px solid #fff;
   padding: 2vw 3vw 2.2vw 8.36vw;
   border-left: 0;
}
.home{
    background: #333;
    width: 100%;
   
}
.home-box{
    display: flex;
    margin-top: 4vw;
    
}
.home-left{
    width:50%;
    border: 2px solid #fff; 
    border-top: 0;
}
  
.home-left h1{
    font-size: 4vw;
    padding: 5vw 3vw;
    text-shadow: 0px 0px 3px white;
    
    
}

.home-left h5{
        font-size: 17px;
        opacity: 0.6;
        line-height: 2;
        margin-top: -2vw;
        padding: 0vw 3vw;
        font-weight: 300;
    }
.home-right{
        width: 50%;
       border: 2px solid #fff; 
        border-left: 0;
        border-top: 0;
}
.home-right img{
    width: 100%;
    height: 100%;
}
.l2{
    display: flex;
    justify-content: center;
    gap: 5.3vw;
    font-size: 1.7vw;
    padding:2vw 10vw 0vw 10vw;
    margin-right: 3vw;
    font-weight: 400;
}
.l3{
display: flex;
justify-content: center;
font-weight: 400;
font-size: 1.2vw;
gap: 45px;
margin-left: -1vw;
width: 100%;
margin-top: .8vw;
}
.btn-box{
    display: flex;
    justify-content: space-between;
    margin: 4vw 3vw;
    width: 21vw;
    height: 5rem;
    
}

.btn-box .btn{
    display: flex;
    justify-content: center;
    
    height: 80%;
    align-items: center;
    width: 14rem;
    position: relative;
    border: 1px solid ;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 1px;
    color: black  ;
    overflow: hidden;
    z-index: 1;
    background: white;
}

.btn-box .btn:hover{
    color: white;
    background: #333;
    z-index: 1;
    
}
.btn-box .btn:nth-child(2){
    background: transparent;
    color: white;
}
.btn-box .btn:nth-child(2):hover {
  color: white;    
}

.btn-box .btn:nth-child(1)::before {
    
    background-color:black;
}
.btn-box .btn:nth-child(2)::before {
    
    background-color: black;
}
.btn-box .btn::before {
    content: '';
    position: absolute; 
    width: 100;
  
    height: 100%;
    background: black;    
    z-index: -1;

}
.btn-box .btn:hover::before{
    width: 100%;
}

.welcome{
    /* background-image: url(https://assets.website-files.com/64ccb88254c841cdd5968189/64ccb88254c841cdd59681ae_noice.gif) ; */
    background: #3a3838;
    width: 100%;
    border: 2px solid #fff; 
    border-top: 0;
}


.wel{
    display: flex;
    justify-content: space-between;
  

}
.wel h5{
    font-size: 1vw;
    width: 50%;
    padding: 5vw 3vw;
}
.wel p {
        line-height: 2.3vw;
        font-size: 2.2rem;
        width: 50%;
        padding: 5vw 0vw;
}

.pro{
    width: 100%;
    
    background: black;
    display: flex;
    flex-direction: column;

}
.pro-h {
    font-weight: 700;
    color: transparent;
    width: 100%;
    -webkit-text-stroke: 0.7px white;
    text-shadow: 0px 0px 15px white;
    font-size: 3vw;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    margin: 0vw 0vw;
    padding-block: 2vw;
    border-top: 0;
}
.pro-m {
    display: flex;
    justify-content: space-between;
}
.pro-box{
display: flex;
  flex-direction: column;
  border: 5px solid #fff;
  border-top: 0;
  
  border-bottom: 0;
    gap: 20px;
    width: 25%;
    padding: 3vw 3vw;
}
.pro-box h3{
    font-size: 1.8vw;
    
  
}
.pro-box p{
    font-size: 1vw;
    display: flex;
    width: 83%;
    justify-content: center;
    line-height: 2.1vw;
}
.pro-f {
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px white;
    text-shadow: 0px 0px 13px white;
    font-size: 3vw;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    margin: 0vw 0vw;
    padding-block: 2vw;
    border-bottom: 0;
}


.nav2{
    border: 2px solid #fff;
   padding: 2vw 11vw 2.2vw 10vw;
    background: #333;
    display: flex;
    justify-content: center;
   width: 100%;
   color: white;
   border-bottom: 0;
   
}
.nav2 a{
    color: var(--text-color);
    margin: 0vw 1vw;
    font-size: 14px;
}
.img-sec{
    width: 100%;
    border: 1px solid #fff;
    border-top: 0;

}
.img1 {
    display: flex;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
   

}
.img1 img{
    width: 33.3%;
    border: 2px solid #fff;
    border-bottom: 0;
    border-left: 0;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    
}
.img2 {
    display: flex;
    border: 2px solid #fff;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    
}
.img2 img{
    width: 33.3%;
    border: 2px solid #fff;
    border-top: 0;
    border-bottom: 0;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
 
    border-left: 0;
}



.services{
    width: 100%;
    
    background: black;
    display: flex;
    flex-direction: column;

}
.ser-h {
    font-weight: 700;
    color: transparent;
    width: 100%;
    -webkit-text-stroke: 0.7px white;
    text-shadow: 0px 0px 15px white;
    font-size: 3vw;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    margin: 0vw 0vw;
    padding-block: 2vw;
    border-top: 0;
}
.ser-m {
    display: flex;
    justify-content: space-between;
}
.ser-box{
display: flex;
  flex-direction: column;
  border: 2px solid #fff;
  border-top: 0;
  
  border-bottom: 0;
    gap: 20px;
    
    padding: 3vw 3vw;
}
.ser-box h3{
    font-size: 1.5vw; 
}
.ser-box p{
    font-size: 1vw;
    display: flex;
    width: 93%;
    opacity: .6;
    justify-content: center;
    line-height: 2.1vw;
}
.ser-f {
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px white;
    text-shadow: 0px 0px 13px white;
    font-size: 3vw;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    margin: 0vw 0vw;
    padding-block: 2vw;
    border-bottom: 0;
}

.ser-h2{
   font-size: 1.3vw;
   display: flex;
   justify-content: space-between;

   align-items: center;
}
.ser-h2 h2{
    border: 2px solid #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 4vw;
}
.sc1{
    display: flex;
    width: fit-content;
    gap: 15px;
}
.s-con{
    width: 2rem;   
    height: 2rem;
   display: flex;
    background-color: #fff;
    border-right-style: none;
    border-radius: 50px;
    position: relative;

}
.lm1{
    width: 100%;
}
.lm{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1vw 0vw 0vw 17vw;   
    gap: 41px;
}
.lm h6{
    font-size: .8vw;
    position: relative;
}

.cs{
    display: flex;
    justify-content: space-between;
    border: 2px solid #fff;
}
.cs1{
    display: flex;
    width: fit-content;
    gap: 15px;
}
.cs-con{
   
 font-size: 1vw;
}
.clm1{
    width: 100%;
}
.clm{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1vw 0vw 0vw 17vw;   
    gap: 41px;
}
.clm h6{
    font-size: .8vw;
    position: relative;
}
.cs1{
        width: 100%;    
        background: black;
        display: flex;
        flex-direction: column;  
}


.cs-box{
    display: flex;
      flex-direction: column;
      border: 2px solid #fff;
      border-top: 0;
      width: 67%; 
      border-bottom: 0;
      gap: 20px;    
      padding: 3vw 3vw;
    }
    .cs-box h3{
        font-size: 1.5vw; 
        padding: 1.2vw 0vw;
    }
    .cs-box p{
        font-size: 1vw;
        display: flex;
        width: 91%;
        opacity: .6;
        justify-content: center;
        line-height: 2.1vw;
    }
    .cs{
        display: flex;
        justify-content: space-between;
    }
    .cs1{
        display: flex;
        width: fit-content;
        gap: 15px;
    }
    .ps-con{
       font-size: 1vw;
       
    }
    .plm1{
        width: 100%;
    }
    .plm{
        width: 100%;
        display: flex;
        align-items: center;
        margin: 1vw 0vw 0vw 17vw;   
        gap: 41px;
    }
    .plm h6{
        font-size: .8vw;
        position: relative;
    }
    .ps1{
            width: 100%;    
            background: black;
            display: flex;
            flex-direction: column;  
    }
    
.ps-box{
    display: flex;
      flex-direction: column;
      border: 2px solid #fff;
      border-top: 0;
      width: 33.33%;
      border-bottom: 0;
      gap: 20px;   
      padding: 3vw 3vw;
    }
    .ps-box h3{
        font-size: 1.5vw; 
    }
    .ps-box p{
        font-size: 1vw;
        display: flex;
        width: 93%;
        opacity:.6;
        justify-content: center;
        line-height: 2.1vw;
    }

    .btn-box2{
        display: flex;
        gap: 3vw;
        height: 5rem;
        
    }
    
    .btn-box2 .btn{
        display: flex;
        justify-content: center;
   
        height: 80%;
        align-items: center;
        width: 16rem;
        position: relative;
        border: 1px solid ;
        font-weight: 300;
        font-size: 13px;
        letter-spacing: 1px;
        color: black  ;
        overflow: hidden;
        z-index: 1;
        background: white;
    }
    
    .btn-box2 .btn:hover{
        color: white;
        background: #333;
        z-index: 1;
        
    }
    .btn-box2 .btn:nth-child(2){
        background: transparent;
        color: white;
        width: 13vw;
    }
    .btn-box .btn:nth-child(2):hover {
      color: white;    
    }
    
    .btn-box2 .btn:nth-child(1)::before {
        
        background-color:black;
    }
    .btn-box2 .btn:nth-child(2)::before {
        
        background-color: black;
    }
   
    .sum{
        height: 10vw;
    }
    .sum-img{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 4vw 0vw;
    }   

    .ser-f1 {
        font-weight: 700;
        color: transparent;
        -webkit-text-stroke: 0.7px white;
        text-shadow: 0px 0px 13px white;
        font-size: 3.6vw;
        border: 2px solid #fff;
        display: flex;
        justify-content: center;
        margin: 0vw 0vw;
        padding-block: 2vw;
        border-bottom: 0;
        background: black;
    }
.test-box {
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
}
.test-l{
    width: 50%;
    border: 2px solid #fff;
    border-right: 0;
}
.test-r{
    width: 50%; 
    border: 2px solid #fff;
}
.test-l .t1{
    display: flex;
    padding:4vw 5vw 4vw 3vw;

    justify-content: space-between;
}
.test-l .t1 h5{
 font-size: .9vw;
 font-weight: 400;
}

.test-l .t-img{
    display: flex;
    gap: .5vw;
}
.test-l p{
    font-size: 1vw;
    display: flex;
    width: 93%;
    opacity:.6;
    justify-content: center;
    line-height: 2.1vw;
    padding: 0vw 3.2vw;
    margin-top: -3vw;

}


.mp h1 {
    font-size: 1.5vw;
    padding: 2vw 3vw;
}
.mp img{
    margin-left: 41vw;
    margin-top: -4vw;
    width: 70px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: white;
}
.test-l h4{
    font-size: 1vw;
    opacity:.6;
    line-height: 2.1vw;
    padding: 1vw 3.2vw;
    margin-top: -3vw;
    margin-bottom: 3vw;
}


.test-r .t1{
    display: flex;
    padding:4vw 5vw 4vw 3vw;

    justify-content: space-between;
}
.test-r .t1 h5{
 font-size: .9vw;
 font-weight: 400;
}

.test-r .t-img{
    display: flex;
    gap: .5vw;
}
.test-r p{
    font-size: 1vw;
    display: flex;
    width: 93%;
    opacity:.6;
    
    line-height: 2.1vw;
    padding: 0vw 3.2vw;
    margin-top: -3vw;

}


.mp h1 {
    font-size: 1.5vw;
    padding: 2vw 3vw;
}
.mp img{
    margin-left: 41vw;
    margin-top: -4vw;
    width: 70px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: white;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
 
}
.test-r h4{
    font-size: 1vw;
    opacity:.6;
    line-height: 2.1vw;
    padding: 1vw 3.2vw;
    margin-top: -3vw;
    margin-bottom: 3vw;
}

.needhelp{
    width: 100%;
    border: 2px solid #fff;
    border-bottom: 0;
    border-top: 0;
}
.l{
    z-index: 2;
    width: 1em;
    height: 8%;
    margin: 4.8vw 3.4vw;
    max-width: 11px; 
    background-color: #fff;
    border: 1px #000;
    position: absolute;
}
.need h1{
    font-size: 2vw;
    padding: 5vw 7vw 2.1vw 6vw;
}
.need-p{
    display: flex;
    justify-content: space-between;
}
.need-p p {
  
    font-size: 1vw;
    padding: 0vw 3.5vw;
    opacity: .6;
    margin-bottom: 5vw;
}
.need-p .btn-box {
    display: flex;
    justify-content: space-between;
    margin: -1vw 0vw;
    width: 11vw;
    height: 5rem;

}
.need-p .btn {
    width: 100px;
}

.blog-box{
    width: 100%;
   border: 2px solid #fff;
   border-bottom: 0;
}
.blog-imgs{
    width:100%;
    display: flex;
    border: 2px solid #fff;
    border-left: 0;
    
}
.blog-imgs img{
    width: 33.33%;
    border: 2px solid #fff;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    filter: grayscale(100%);
 
}

.blog-box .ser-box{
    width: 33.33%;  
    border-top: 0;
    border-right: 0;
}
.blog-box .ser-box h3{
    width: 92%;
    line-height: 2.1vw;
}

.blog-box .ser-box p{
    width: 90%;
}

.blog-box .lm1 {
    padding: 2vw 0vw;
    margin-bottom: -2vw;
}
.blog-box .lm12{
    margin-top: -2vw;
}

.lm0{
    margin: -2vw 1vw;
}
.menu{
    border: 2px solid #fff;
    
    width: 100%;
}

.menu-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu-l {
    width:50%;
}
.menu-l img{
    padding: 3.5vw 0vw 1vw 3vw;
    width: 10vw;
}

.menu-l p{
   
    padding: 0vw 3vw;
    width: 97%;
    font-size: 1vw;
    opacity: .7;
    line-height: 2.1vw;
}
.menu-r{
    width: 27%;
    display: flex;
    font-size: 1vw;
    padding: 4vw 1vw 2vw 0vw ;
    line-height: 2.1;
    justify-content: space-around;
    
}
.up1{
    display: flex;
    flex-direction: column;
    color: white;
   
    
}
.up1 a{
    line-height: 3.1vw;
    color: white;
    opacity: .6;
}

.up2{
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 2.1vw;
    
}
.up2 a{
    line-height: 3.1vw;
    color: white;
    opacity: .6;
}
.ms{
    display: flex;
    flex-direction: row;
    gap: 2vw;   
    padding: 9vw 11vw 0vw 3vw;
}
.ms a{
    font-size: .9vw;
    color: white;
    display: flex;
    
}

.footer{
    display: flex;
    justify-content: space-between;
    border: 2px solid #fff;
    border-top: 0;
    
}
.f-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3vw;
    padding: 3vw 3vw ;
}
.f-left img{
    width: 15px;
}
.f-left h5{
    font-size: 1vw;
    opacity: .6;
    font-weight: 400;
}
.f-left h3{
    font-size: 1vw;
   
}

.f-right{
    padding: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3vw;
}
.f-right h5{
    font-size: 1vw;
    opacity: .6;
    font-weight: 400;
}
.f-right h3{
    font-size: 1vw;
}